<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <mtn-logo class='logo'></mtn-logo>
        </div>
       <ul class="nav navbar-nav">
            <form name="searchForm" class="form-group form-inline search-navbar">
                <div class="btn-group dropdown" dropdown dropdown-append-to-body>
                    <a type="button" id='toggle-areas' class=" dropdown-toggle search-param-toggle" dropdown-toggle>Go to... {{selectedArea.name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu search-item-dropdown" role="menu">
                        <li ng-repeat="area in areas track by $index" class="search-item" ng-click="setSelected(area)">{{area.name}}</li>
                    </ul>
                </div>
                <a ng-click='move(selectedArea)'  id="search-btn"> <airplane></airplane></a>
                
            </form>
            <a type="button" id='compare' class=" margin-btn" ng-click='compareTrails()'>Compare trails</a>
            <a type="button" id='addTrail' class=" margin-btn" ng-click='addTrail()'>Add a trail</a>
        </ul>
        
<!--         <ul class="nav navbar-nav">
 -->
<!--             <li><a ng-click='addTrail()'>Add a trail</a></li>
 --><!--             <li><a ng-click='addTrail()'>{{areas[0]}}</a></li>
 -->
            <!-- <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li> -->
        </ul>
        
    </div>
</nav>