html, body {
    height: 100%;
}

.fullscreen {
  width: 100%;
  height: 100%;
  z-index: -1;
  // position: fixed;

}



// $screen-sm: 768px;
#map-canvas {
  // position: fixed;
  // z-index: -1;
  // // &:before {
  // //     content: "";
  // //     display: block;
  // //     clear: both;
  // // }
  // // &:after {
  // //     content: "";
  // //     display: block;
  // //     clear: both;
  // // }
  width: 100%;
  height: 65%;

  // height: calc(100vh - 50px);
  // border-right: 2px solid lighten($medium-brown, 25%);
  // border-bottom: 2px solid lighten($medium-brown, 25%);
  // border-left: 2px solid lighten($medium-brown, 25%);
  // width:100%;
}

// @media (min-width: $screen-sm) {
//   #map-canvas {
//     border-bottom: none;
//     border-left: none;
//   }
//   .map-container {
//     padding: 0;
//     > div {
//       position: fixed;
//       width: inherit;
//     }
//   }
// }