navbar {
  position: fixed;
  display: block;
  background: black;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;
  width: 100%;
  height: 70px;

  .btn-default {
    color: light-blue;
  }

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  #search-btn {
    padding: 0px;
    background-color: black;
    &:hover {
      background: none;
      color: #66FFFF;
    }
  }

  form {
    display: inline;
    // color: light-blue;
  }

  .nav {
    display: inline;
  }

  #toggle-areas{
    color: light-blue;
    &:hover {
      background: none;
      color: #66FFFF;
    }
  }
  #addTrail{
    color: light-blue;
    &:hover {
      background: none;
      color: #66FFFF;
    }
  }

  #compare{
    color: light-blue;
    &:hover {
      background: none;
      color: #66FFFF;
    }
  }



  .btn {
    display: inline;
    font-color: light-blue;
    &:hover {
      background: none;
      color: #66FFFF;
    }
  }

  .margin-btn {
    margin-left: 40px;
    display: inline;
  }

  .logo {
    margin-top: 1px;
    margin-right: 20px;
    width: 50px;
  }

  a {
    color: light-blue;
    font-size: 16px;
  }

  input[type="text"], textarea {
    background-color : light-blue; 

  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#00CC99, 10%);
    }
    &:hover {
      background: none;
      color: #66FFFF;
    }
    &:focus {
      background: none;
    }
  }

  .btn-mine {
  color: light-blue;
  background-color: black;
  &:hover {
    background: none;
    color: #66FFFF;
  }
}

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
