.trails { 
	margin-bottom: 20px;

	#instructions {
	  	font-color: #19A347;
	  	// #469FD3;
	}

	.input-text {
		margin-right: 20px;
	}

	#saveBtn {
		margin-top: -10px;
	}

	.needsBottomPadding {
		padding-bottom: 20px;
	}
  	

}

