    <div ng-show='!showForm' class="container needsBottomPadding">
    <div class="text-center trails">
        <div class="row clearfix">
            <h5 class="pull-left" id="instructions">Click the map along the trail's path, then fill out the trail info and click save</h5>
        </div>
        <div class="row">
            <form name="trailForm" ng-submit="trailForm.$valid && createTrail()">
                    
                <div class = "form-group">
                    <input type="text" class='input-text pull-left' name="trailName" ng-model="trail.name" placeholder='name' required/>
                </div>
                <!-- <div class = "form-group">
                    <label class="pull-left" for="trailArea">Ski Area</label>
                    <input type="text" class="form-control" name="trailName" ng-model="trail.area" required/>
                </div> -->
                    
                <button type="submit" id="saveBtn" class="btn btn-success pull-right">Save</button>   
                <br>          
            </form>
        </div>
    </div>
</div>
