<section id="home">
	<div>Add a trail to compare:
		<ul>
			<a ng-click='addToCompare(trail)' ng-repeat='trail in trails'> {{trail.name}}, </a>
		</ul>
	</div>	
	<div> Comparing:
		<span ng-repeat='trail in selectedTrails'> {{trail.name}} <button class='btn btn-default'>x</button></span>
	</span>




<!--     <button ng-repeat='skiArea in skiAreas' ng-click='move(skiArea)'> change to {{skiArea.name}}</button>

    <button ng-click='polyE()'> get elevation</button>
    <button ng-click='startDrawing()'> start drawing</button>
    <fullstack-logo></fullstack-logo>
    <rando-greeting></rando-greeting> -->
</section>
